@import "bootstrap-sprockets";
@import "bootstrap";

#contact {padding-top:80px;}

input{
	height: auto !important;
}
#parent {
   display: table;
   width: 100%;
}

#form_login {
   display: table-cell;
   text-align: center;
   vertical-align: middle;
}