<!--<footer id="footer">
  <div class="space">
      <div class="container">
          <div class="col-sm-6">
                <div class="home">Contact Us </div>
        </div>
        <div class="col-sm-6">
              <div class ="pull-right" class="home">Contact Us </div>
        </div>
      </div>
        <div class="container">
              <div class="col-sm-6">
                  <div class="pull-left">
                  © Copyright Company 2015 | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
                  </div>
             </div>
             <div class="col-sm-6">
                <div class="pull-right">Designed by <a href="http://www.atis.al">Decide me</a></div>
            </div>
        </div>
      </div>
</footer>  -->