   <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015. Designed by <a href="#">Decide Me</a> </a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
<!--<footer id="footer">
  <div class="space">
      <div class="container">
          <div class="col-sm-6">
                <div class="home">Contact Us </div>
        </div>
        <div class="col-sm-6">
              <div class ="pull-right" class="home">Contact Us </div>
        </div>
      </div>
        <div class="container">
              <div class="col-sm-6">
                  <div class="pull-left">
                  © Copyright Company 2015 | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
                  </div>
             </div>
             <div class="col-sm-6">
                <div class="pull-right">Designed by <a href="http://www.atis.al">Decide me</a></div>
            </div>
        </div>
      </div>
</footer>  -->